body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1d1d1d;
    /* Dark background color */
    color: #fff;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #333;
    /* Darker background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-header {
    margin-bottom: 20px;
    font-size: 24px;
    color: #ff9800;
    /* Orange text color */
}

.input-field {
    display: block;
    width: calc(100% - 20px);
    /* Adjusted width to account for padding */
    padding: 10px;
    margin: 0 auto 10px;
    /* Center the input field */
    border: 1px solid #666;
    /* Darker border color */
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #444;
    /* Darker input background color */
    color: #fff;
}

.login-button {
    display: block;
    width: calc(100% - 20px);
    /* Adjusted width to account for padding */
    padding: 10px;
    margin: 0 auto;
    /* Center the button */
    background-color: #ff9800;
    /* Orange button background color */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #f57c00;
    /* Darker orange on hover */
}

.login-error {
    color: #ff4444;
    /* Red error message color */
    margin-top: 10px;
}

/* Background pattern */
body::before {
    content: "";
    position: fixed;
    top: -30px;
    left: -30px;
    width: calc(100% + 60px);
    height: calc(100% + 60px);
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 120 120"%3E%3Ctext x="5" y="55" font-family="Arial" font-size="20" fill="%23ddd"%3ESintLucas%3C/text%3E%3C/svg%3E');
    background-size: 120px 120px;
    /* Adjust the size according to your needs */
    background-repeat: repeat;
    background-position: 15px 15px, 45px 45px;
    /* Adjust the position to create the checkboard effect */
    opacity: 0.1;
    /* Adjust the opacity as needed */
    z-index: -1;
}